@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 60.5%;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}




p {
  font-size: 1.5rem;
  line-height: 1.50;
  letter-spacing: 0.6px;
  word-spacing: 0.06rem;
  list-style: none;
}



a {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: none;
}

/* ------------------header------------------- */

.container {
  max-width: 1400px;
  width: 100%;
  padding: 42px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}



.headerDiv {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.container>div {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-brand {
  width: auto;
  padding: 10px 20px;
  background-color: #047d0f;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
}
.logo-brand>a>h1{
  font-size: 2rem;
}

.total-price>h1 {
  font-weight: 600;
  color: #047d0f;



}

.product-cart>a>svg {
  font-size: 3rem;
  cursor: pointer;
}
.product-cart>a>svg:hover {
 color: #16469d;
}

/* ------------------Filter------------------- */

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  & select {
    padding: 10px;
    width: 150px;
    border-radius: 10px;
  }

  & input {
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border: none;
    border: 1px solid #000;
    outline: none;
  }

  & .filters {
    display: flex;
    justify-content: space-around;


  }

}
.submitBtn{
  background-color: #16469d;
  margin: 20px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* ------------------product-cart------------------- */

.product-card {
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 10px;

}

.product-card>a>h3:hover {
  color: #16469d;
  font-weight: 600;
}

.product-card p:nth-last-child(1) {
  font-weight: 600;
}


.product-card>div {
  display: flex;
  flex-direction: column;
  gap: 4px;

}

.product-card>img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;

}

.productContainer {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 15px;
  padding: 0 150px;

}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
  height: 100%;
}

.buy-now-btn {
  margin: 20px;
  padding: 10px 20px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.productCardBtn button {
  padding: 2px 10px;
}


/* -----------------------Tab---------------- */
nav ul {
  display: flex;
  gap: 50px;
}

nav ul li {
  list-style: none;
}


nav ul li a {
  position: relative;
  display: inline-block;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in-out;
  }

}

nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}


nav ul li a.active {
  color: #16469d;
  font-weight: 600;
}

nav ul li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #16469d;
  transform: scaleX(1);
}


.admin-users {
  display: flex;
  width: 100%;
}

.admin-users>table {
  width: 100%;
  background-color: #ffff;
  border-radius: 10px;
  padding: 10px;

}

.admin-users>table>thead {
  width: 100%;
  border-radius: 10px;
  background-color: var(--helper-color);
  padding: 20px 0;
}

.admin-users>table>thead>tr {
  padding: 10px 0;
}

.admin-users>table>thead>tr>td {
  padding: 10px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-color);
  border-radius: 10px;
}

.admin-users>table>tbody>tr>td {
  padding: 10px;
  font-size: 2rem;
  font-weight: 500;
  color: var(--dark-color);
}

.admin-users tr {
  display: grid;
  grid-template-columns: repeat(4, minmax(10rem, 1fr));
  align-items: center;
  box-shadow: 0 0.3rem 0 gray;

  & td:last-child {
    display: flex;
    gap: 20px;

    & svg {
      font-size: 3rem;
      cursor: pointer;

      &:hover {
        color: var(--btn-color);
      }
    }
  }

}

.admin-users2 tr {
  grid-template-columns: repeat(5, minmax(10rem, 1fr));

}


/* -------------DeleteConfirmation--------------- */

.modalContainer {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  box-shadow: 24;
  padding: 30px 30px;
  border-radius: 4px;
  width: 25vw;
  min-width: 429px;
  animation: slideUp 0.3s forwards;
  outline: none;
  min-height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer2 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  box-shadow: 24;
  padding: 30px 30px;
  border-radius: 4px;
  width: 25vw;
  min-width: 429px;
  animation: slideUp 0.3s forwards;
  outline: none;
  min-height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputDiv input,
select,
textarea {
  width: 100%;
  height: 40px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
}

.formWrapper>button {
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #16469d;
  cursor: pointer;
}

.inputDiv label {
  width: auto;
}

.modalContainer::-webkit-scrollbar {
  width: 10px;
}

.modalContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modalContainer::-webkit-scrollbar-thumb {
  background: #888;
}

.modalContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes slideUp {
  0% {
    top: 100%;
  }

  70% {
    top: 45%;
  }

  100% {
    top: 50%;
  }
}

.modalContainer>form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 30px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.buttonWrapper>button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  min-width: 100px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  background-color: var(--btn-color);
}

.buttonWrapper>button:nth-child(1) {
  background-color: rgb(178, 6, 6)
}

.buttonWrapper>button:hover {
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  background-color: #353535;

}

.contentWrapper>h2 {
  font-size: 20px;
  font-weight: 600px;
  word-wrap: break-word;
  text-wrap: balance;
  color: #353535;
}

.contentWrapper>p {
  font-size: 15px;
  font-weight: 400px;
  word-wrap: break-word;
  text-wrap: balance;
  color: #2F2E2E;
}


/* ---------------------- */
.container>h1 {
  font-size: 3rem;
}

.user-section {
  width: 100%;
}

.mainDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

}

.prodImg {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.prodImg>img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 10px;
}

.prodDetail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.prodDetail>h1 {
  font-size: 3rem;
}

.prodDetail>p {
  font-size: 2rem;
}

.prodDetail>span>svg {
  width: 30px;
  height: 30px;
}


.cont
{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
}
.cartWrapper
{
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
 

}
.cartWrapper>h3
{
  font-size: 35px;

  }

.cart
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productItem
{
display: grid;
grid-template-columns: 200px 1fr;
padding: 10px;
border-radius: 10px;
width: 100%;
gap: 30px;

}
.productImage
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.productImage>img
{
  width: 100%;
  max-height: 200px;
  border-radius: 10px;
}
.productInfo{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.productName
{
  display: flex;
  gap: 3px;
  flex-direction: column;
}